* {
    box-sizing: border-box;
    background-color: var(--main-bg);
}

  :root {
    --main-bg: black;
    --primary-color: azure;
    --secondary-color: turquoise;
    --tertiary-color: white;
    --plr1-bg: #F59AE8;
    --plr2-bg: #74FDFD;
  }
  
  body {
    /* viewport units: vh (viewport height), vw (viewport width), vmin (smallest between vh & vw) - creates highly scaleable pages*/
    height: 100vh;
    margin: 0;
    color: var(--primary-color);
    font-family: 'Gloria Hallelujah', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    font-size: 3vmin;
    color:var(--primary-color);
    font-size: 4vmin;
  }

  h1 {
    font-size: 3vmin;
    color: var(--plr1-bg)
  }

  #spaces {
    display: grid;
    grid-template-columns: repeat(3, 15vmin);
    grid-template-rows: repeat(3, 15vmin);
    margin-bottom: 2vmin;
  }
  
  .spaces > div {
    border: 1vmin solid var(--primary-color);
    background-color: var(--main-bg);
  }

  .spaces > div:hover {
    background-color: #191A1A;
    transform: scale(1.03);
    transition: transform 50ms ease-in;
  }

  button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.3vmin solid var(--secondary-color);
    color: var(--secondary-color);
    font-family: 'Gloria Hallelujah', cursive;
  }
  
   button:hover {
     color: var(--tertiary-color);
     background-color: darkgrey;
     border: 0.3vmin solid var(--tertiary-color);
     transform: scale(0.95);
     transition: transform 100ms ease-in;
   }

   #turnIndicator {
    color: var(--secondary-color);
   }
   
#cell0 {
       border-width: 0vmin 1vmin 1vmin 0vmin;
   }
#cell1 {
       border-width: 0vmin 1vmin 1vmin 1vmin;
    }
#cell2 {
        border-width: 0vmin 0vmin 1vmin 1vmin;
    }
#cell3 {
        border-width: 1vmin 1vmin 1vmin 0vmin;
    }
#cell5 {
        border-width: 1vmin 0vmin 1vmin 1vmin;
    }
#cell6 {
    border-width: 1vmin 1vmin 0vmin 0vmin;
}
#cell7 {
    border-width: 1vmin 1vmin 0vmin 1vmin;
}
#cell8 {
    border-width: 1vmin 0vmin 0vmin 1vmin;
}